.panda-bg-info {
    background-color: #fceae8;
}
.categories img {
    width: 100px;
}
.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px ;
    padding: 9px 25px;
    border: none;
}
.carousel-top-margin {
    margin-top: 10rem;
}
.carousel-product-price {
    color: #ff136f;
}
.bg-watch-color {
    background-color: #ffa500;
}
.bg-bag-color {
    background-color: #da70d6;
}
.bg-shoes-color {
    background-color: #0000ff;
}